.carousel {
    width: 100%;
    height: 490px;
    background: url("../../imgs/carousel/carousel.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel h1 {
    font-size: 60px;
    color: #cccece;
}

.carousel p, span {
    font-size: 14px;
    color: #cccece;
}

.carousel button {
    display: flex;
    justify-content: center;
    max-height: 100%;
    background: #f98561;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    border: none;
    height: 50px;
    max-width: 250px;
    width: 100%;
    color: #ffebca;
    text-transform: uppercase;
}

.carousel button:hover {
    background: transparent;
    border: 2px solid #f98561;
    transition: .4s ease;
    color: #f98561;
}
/*adaptive*/
@media (min-width: 0px) and (max-width: 767.98px) {
    .carousel p, span {
        font-size: 2vw;
    }

    .carousel h1 {
        font-size: 40px;
    }
}